@page
@model FTCScoutingAppV2.Pages.Events.IndexModel

@{
    ViewData["Title"] = "Events";
}

<meta http-equiv="refresh" content="60">
<h2>Events</h2>

<p>
    <a asp-page="Create">Add an event</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].eventName)
            </th>
            <th class="hidden-mobile">
                @Html.DisplayNameFor(model => model.Event[0].eventLocation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Event)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.eventName)
                </td>
                <td class="hidden-mobile">
                    @Html.DisplayFor(modelItem => item.eventLocation)
                </td>
                <td class="hidden-mobile">
                    <a asp-page="/Teams/Index" asp-route-eventID="@item.ID">Teams</a> |
                    <a asp-page="/Schedule/Index" asp-route-eventID="@item.ID">Schedule</a> |
                    <a asp-page="./Delete" asp-route-eventID="@item.ID">Delete</a>
                </td>
                <td class="hidden-tablet hidden-desktop">
                    <a asp-page="/Teams/Index" asp-route-eventID="@item.ID">Teams</a>
                    <br />
                    <a asp-page="/Schedule/Index" asp-route-eventID="@item.ID">Schedule</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-page="Create" style="        color: dimgray;
        border-radius: 100%;
        background-color: white;
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-size: 50px;"><i class="fas fa-plus-circle"></i></a>