@page
@model FTCScoutingAppV2.Pages.Events.IndexModel

@{
    ViewData["Title"] = "Events";
}

<h2>Events</h2>

<p>
    <a asp-page="Create">Add an event</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].eventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].eventLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].allowedUserIDs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Event) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.eventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eventLocation)
            </td>
            <td>
                <a asp-page="/Teams/Index" asp-route-id="@item.ID">Teams</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-page="Create" class="btn large" style="background-color: dimgray; color: white; border-radius:0px; position:absolute; bottom:20px; right:20px; padding: 10px; font-size: 25px;">Add event</a>