@page
@model FTCScoutingAppV2.Pages.Schedule.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Match in schedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MatchList.matchNumber" class="control-label"></label>
                <input asp-for="MatchList.matchNumber" class="form-control" />
                <span asp-validation-for="MatchList.matchNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatchList.RedTeam1ID" class="control-label"></label>
                <select asp-for="MatchList.RedTeam1ID">

                    <option value="0">Select team</option>
                    @foreach (var team in Model.Teams)
                    {
                        <option value="@team.ID">@team.teamID | @team.teamName</option>
                    }
                </select>
                <span asp-validation-for="MatchList.RedTeam1ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatchList.RedTeam2ID" class="control-label"></label>
                <select asp-for="MatchList.RedTeam2ID">
                    <option value="0">Select team</option>
                    @foreach (var team in Model.Teams)
                    {
                        <option value="@team.ID">@team.teamID | @team.teamName</option>
                    }
                </select>
                <span asp-validation-for="MatchList.RedTeam2ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatchList.BlueTeam1ID" class="control-label"></label>
                <select asp-for="MatchList.BlueTeam1ID">
                    <option value="0">Select team</option>
                    @foreach (var team in Model.Teams)
                    {
                        <option value="@team.ID">@team.teamID | @team.teamName</option>
                    }
                </select>
                <span asp-validation-for="MatchList.BlueTeam1ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatchList.BlueTeam2ID" class="control-label"></label>
                <select asp-for="MatchList.BlueTeam2ID">
                    <option value="0">Select team</option>
                    @foreach (var team in Model.Teams)
                    {
                        <option value="@team.ID">@team.teamID | @team.teamName</option>
                    }
                </select>
                <span asp-validation-for="MatchList.BlueTeam2ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatchList.RedScore" class="control-label"></label>
                <input asp-for="MatchList.RedScore" class="form-control" />
                <span asp-validation-for="MatchList.RedScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatchList.BlueScore" class="control-label"></label>
                <input asp-for="MatchList.BlueScore" class="form-control" />
                <span asp-validation-for="MatchList.BlueScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to schedule</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
