@page
@model FTCScoutingAppV2.Pages.Schedule.IndexModel

@{
    ViewData["Title"] = "Schedule";
}

<h2>Schedule</h2>
<meta http-equiv="refresh" content="60">
<p>
    <a asp-page="Create" asp-route-eventID="@Model.eventID">Add a match to the schedule</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="hidden-mobile" style="background-color:dimgray; color:white;">
                @Html.DisplayNameFor(match => match.MatchList[0].matchNumber)
            </th>
            <th class="hidden-tablet hidden-desktop" style="background-color:dimgray; color:white;">
                Nr
            </th>
            <th class="hidden-mobile" style="background-color:red; color:white;">
                @Html.DisplayNameFor(match => match.MatchList[0].RedTeam1ID)
            </th>
            <th class="hidden-mobile" style="background-color:red; color:white;">
                @Html.DisplayNameFor(match => match.MatchList[0].RedTeam2ID)
            </th>
            <th class="hidden-mobile" style="background-color:blue; color:white;">
                @Html.DisplayNameFor(match => match.MatchList[0].BlueTeam1ID)
            </th>
            <th class="hidden-mobile" style="background-color:blue; color:white;">
                @Html.DisplayNameFor(match => match.MatchList[0].BlueTeam2ID)
            </th>
            <th class="hidden-mobile" style="background-color:red; color:white;">
                @Html.DisplayNameFor(match => match.MatchList[0].RedScore)
            </th>
            <th class="hidden-mobile" style="background-color:blue; color:white;">
                @Html.DisplayNameFor(match => match.MatchList[0].BlueScore)
            </th>
            <th class="hidden-tablet hidden-desktop" style="background-color:red; color:white;">
                Red
            </th>
            <th class="hidden-tablet hidden-desktop" style="background-color:blue; color:white;">
                Blue
            </th>
            <th style="background-color:dimgray; color:white;">
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var match in Model.MatchList)
        {
            <tr>
                @if (match.RedScore == 0 || match.BlueScore == 0 || match.RedTeam1ID.ToString() == "0" || match.RedTeam2ID.ToString() == "0" || match.BlueTeam1ID.ToString() == "0" || match.BlueTeam2ID.ToString() == "0")
                {
                    <td style="background-color:orange; color:white;">
                        @match.matchNumber
                    </td>
                }
                else
                {
                    <td>
                        @match.matchNumber
                    </td>
                }
                <td class="hidden-mobile">
                    @foreach (var team in Model.Teams)
                    {
                        if (team.ID == match.RedTeam1ID)
                        {
                            @team.teamID
                        }
                    }
                </td>
                <td class="hidden-mobile">
                    @foreach (var team in Model.Teams)
                    {
                        if (team.ID == match.RedTeam2ID)
                        {
                            @team.teamID
                        }
                    }
                </td>
                <td class="hidden-mobile">
                    @foreach (var team in Model.Teams)
                    {
                        if (team.ID == match.BlueTeam1ID)
                        {
                            @team.teamID
                        }
                    }
                </td>
                <td class="hidden-mobile">
                    @foreach (var team in Model.Teams)
                    {
                        if (team.ID == match.BlueTeam2ID)
                        {
                            @team.teamID
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(matchList => match.RedScore)
                </td>
                <td>
                    @Html.DisplayFor(matchList => match.BlueScore)
                </td>
                <td class="hidden-mobile">
                    <a asp-page="./Edit" asp-route-eventID="@Model.eventID" asp-route-scheduledMatchID="@match.ID"><i class="fas fa-edit"></i></a>
                    <a asp-page="./Delete" asp-route-eventID="@Model.eventID" asp-route-scheduledMatchID="@match.ID"><i class="fas fa-trash"></i></a>
                </td>
                <td class="hidden-tablet hidden-desktop">
                    <a asp-page="./Edit" asp-route-eventID="@Model.eventID" asp-route-scheduledMatchID="@match.ID"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-page="Create" asp-route-eventID="@Model.eventID" class="btn large" style="background-color: dimgray; color: white; border-radius:0px; position:fixed; bottom:20px; right:20px; padding: 10px; font-size: 25px;">Add match to schedule</a>