@page
@model FTCScoutingAppV2.Pages.Teams.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Team.teamID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Team.teamID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Team.teamName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Team.teamName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Team.teamLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Team.teamLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Team.comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Team.comments)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Team.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a href='javascript:history.go(-1)'>Back to team list</a>
    </form>
</div>