@page
@model FTCScoutingAppV2.Pages.Teams.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Team.teamID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Team.teamID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Team.teamName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Team.teamName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Team.teamLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Team.teamLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Team.comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Team.comments)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-eventID="@Model.eventID" asp-route-teamID="@Model.Team.ID">Edit</a> |
    <a href='javascript:history.go(-1)'>Back to team list</a>
</div>