@page
@model FTCScoutingAppV2.Pages.Teams.IndexModel

@{
    ViewData["Title"] = "Teams";
}

<meta http-equiv="refresh" content="10">
<h2>Teams</h2>
<p class="hidden-mobile">
    Teams for event @Model.eventName | @Html.DisplayFor(model => model.Teams.Count) teams |
    <a asp-page="Create" asp-route-id="@Model.routingID">Add a team</a>
</p>
<p class="hidden-tablet hidden-desktop">
    Event @Model.eventName | 
    <a asp-page="Create" asp-route-id="@Model.routingID">Add a team</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th class="hidden-mobile">
                Exp PTS
            </th>
            <thc lass="hidden-mobile">
                Avg PTS
            </th>
            <th class="hidden-mobile">
                OPR
            </th>
            <th class="hidden-mobile">
                Str loc
            </th>
            <th class="hidden-mobile">
                Lands
            </th>
            <th class="hidden-mobile">
                Samp
            </th>
            <th class="hidden-mobile">
                Dbl samp
            </th>
            <th class="hidden-mobile">
                Team mrk
            </th>
            <th class="hidden-mobile">
                Park
            </th>
            <th class="hidden-mobile">
                End loc
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model.Teams)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => team.teamID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => team.teamName)
            </td>
            <td class="hidden-mobile">
                @Html.DisplayFor(modelItem => team.ExpPTS)
            </td>
            <td class="hidden-mobile">
                @Html.DisplayFor(modelItem => team.AvgPTS)
            </td>
            <td class="hidden-mobile">
                @Html.DisplayFor(modelItem => team.OPR)
            </td>
            <td class="hidden-mobile">
                @Html.DisplayFor(modelItem => team.startLocation)
            </td>
            <td class="hidden-mobile">
                @Html.DisplayFor(modelItem => team.landing)
            </td>
            <td class="hidden-mobile">
                @Html.DisplayFor(modelItem => team.sampling)
            </td>
            <td class="hidden-mobile">
                @Html.DisplayFor(modelItem => team.doubleSampling)
            </td>
            <td class="hidden-mobile">
                @Html.DisplayFor(modelItem => team.teamMarker)
            </td>
            <td class="hidden-mobile">
                @Html.DisplayFor(modelItem => team.parking)
            </td>
            <td class="hidden-mobile">
                @Html.DisplayFor(modelItem => team.endLocation)
            </td>
            <td>
                <a asp-page="/Matches/Index" asp-route-id="@team.ID">Matches</a> |
                <a asp-page="./Edit" asp-route-id="@team.ID">E</a> |
                <a asp-page="./Details" asp-route-id="@team.ID">D</a> |
                <a asp-page="./Delete" asp-route-id="@team.ID">R</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<strong>E - Edit    D - Details     R - Remove</strong>
<a asp-page="Create" class="btn large" style="background-color: dimgray; color: white; border-radius:0px; position:absolute; bottom:20px; right:20px; padding: 10px; font-size: 25px;">Add team</a>