@page
@model FTCScoutingAppV2.Pages.Teams.IndexModel

@{
    ViewData["Title"] = "Teams";
}

<h2>Teams</h2>

@{ 
    string routingID = HttpContext.Request.Query["id"];
}

<p>
    Teams for event #@routingID | @Html.DisplayFor(model => model.Teams.Count) teams |
    <a asp-page="Create" asp-route-id="@routingID">Add a team</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].teamID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].teamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].teamLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].comments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model.Teams)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => team.teamID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => team.teamName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => team.teamLocation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => team.comments)
                    </td>
                    <td>
                        <a asp-page="/Matches/Index" asp-route-id="@team.ID">Matches</a> |
                        <a asp-page="./Edit" asp-route-id="@team.ID">E</a> |
                        <a asp-page="./Details" asp-route-id="@team.ID">D</a> |
                        <a asp-page="./Delete" asp-route-id="@team.ID">R</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
<strong>E - Edit    D - Details     R - Remove</strong>