@page
@model FTCScoutingAppV2.Pages.Matches.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Match.matchType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Match.matchType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Match.matchNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Match.matchNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Match.ID">Edit</a> |
    <a href='javascript:history.go(-1)'>Back to match list</a>
</div>
