@page
@model FTCScoutingAppV2.Pages.Matches.IndexModel

@{
    ViewData["Title"] = "Matches";
}

@{
    string routingID = HttpContext.Request.Query["id"];
}

<h2>Matches</h2>

<p>
    Matches for team #@routingID | @Html.DisplayFor(model => model.Matches.Count) matches |
    <a asp-page="Create" asp-route-id="@routingID">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matches[0].matchType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matches[0].matchNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var match in Model.Matches)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => match.matchType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => match.matchNumber)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@match.ID">E</a> |
                        <a asp-page="./Details" asp-route-id="@match.ID">D</a> |
                        <a asp-page="./Delete" asp-route-id="@match.ID">R</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
<strong>E - Edit    D - Details     R - Remove</strong>