@page
@model FTCScoutingAppV2.Pages.Matches.IndexModel

@{
    ViewData["Title"] = "Matches";
}

@{
    string routingID = HttpContext.Request.Query["id"];
}

<h2>Matches</h2>

<meta http-equiv="refresh" content="10">
<p class="hidden-mobile">
    Matches for team #@Model.teamNumber | @Html.DisplayFor(model => model.Matches.Count) matches |
    <a asp-page="Create" asp-route-eventID="@Model.eventRoutingID" asp-route-teamID="@Model.teamRoutingID">Add a match</a>
</p>
<p class="hidden-tablet hidden-desktop">
    Team #@Model.teamNumber
    <a asp-page="Create" asp-route-eventID="@Model.eventRoutingID" asp-route-teamID="@Model.teamRoutingID">Add a match</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="background-color:dimgray; color:white;">
                <a style="color:white;" asp-page="./Index" asp-route-eventID="@Model.eventRoutingID" asp-route-teamID="@Model.teamRoutingID" asp-route-sortOrder="@Model.NrSort">
                    Nr
                </a>
            </th>
            <th style="background-color:dimgray; color:white;">
                <a style="color:white;" asp-page="./Index" asp-route-eventID="@Model.eventRoutingID" asp-route-teamID="@Model.teamRoutingID" asp-route-sortOrder="@Model.TypeSort">
                    Type
                </a>
            </th>
            <th style="background-color:red; color:white;">
                <a style="color:white;" asp-page="./Index" asp-route-eventID="@Model.eventRoutingID" asp-route-teamID="@Model.teamRoutingID" asp-route-sortOrder="@Model.PointsSort">
                    PTS
                </a>
            </th>
            <th class="hidden-mobile" style="background-color:forestgreen; color:white;">
                Gold
            </th>
            <th class="hidden-mobile" style="background-color:forestgreen; color:white;">
                Silv
            </th>
            <th class="hidden-mobile" style="background-color:forestgreen; color:white;">
                Depot
            </th>
            <th class="hidden-mobile" style="background-color:forestgreen; color:white;">
                Cycl
            </th>
            <th class="hidden-mobile" style="background-color:dimgray; color:white;">
                Start loc
            </th>
            <th class="hidden-mobile" style="background-color:blue; color:white;">
                Lands
            </th>
            <th class="hidden-mobile" style="background-color:blue; color:white;">
                Samp
            </th>
            <th class="hidden-mobile" style="background-color:blue; color:white;">
                Dbl samp
            </th>
            <th class="hidden-mobile" style="background-color:blue; color:white;">
                Team mrk
            </th>
            <th class="hidden-mobile" style="background-color:blue; color:white;">
                Park
            </th>
            <th class="hidden-mobile" style="background-color:dimgray; color:white;">
                End loc
            </th>
            <th style="background-color:dimgray; color:white;">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var match in Model.Matches)
        {
            <tr>
                @if (match.alliance == Models.Alliances.Red)
                {
                    <td style="background-color: red; color: white;">
                        @Html.DisplayFor(modelItem => match.matchNumber)
                    </td>
                }
                else if (match.alliance == Models.Alliances.Blue)
                {
                    <td style="background-color: blue;color: white;">
                        @Html.DisplayFor(modelItem => match.matchNumber)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => match.matchNumber)
                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => match.matchType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => match.points)
                </td>
                <td class="hidden-mobile">
                    @Html.DisplayFor(modelItem => match.goldMinerals)
                </td>
                <td class="hidden-mobile">
                    @Html.DisplayFor(modelItem => match.silverMinerals)
                </td>
                <td class="hidden-mobile">
                    @Html.DisplayFor(modelItem => match.depotMinerals)
                </td>
                <td class="hidden-mobile">
                    @Html.DisplayFor(modelItem => match.cycles)
                </td>
                <td class="hidden-mobile">
                    @Html.DisplayFor(modelItem => match.startLocation)
                </td>
                <td class="hidden-mobile">
                    @Html.DisplayFor(modelItem => match.landing)
                </td>
                <td class="hidden-mobile">
                    @Html.DisplayFor(modelItem => match.sampling)
                </td>
                <td class="hidden-mobile">
                    @Html.DisplayFor(modelItem => match.doubleSampling)
                </td>
                <td class="hidden-mobile">
                    @Html.DisplayFor(modelItem => match.teamMarker)
                </td>
                <td class="hidden-mobile">
                    @Html.DisplayFor(modelItem => match.parking)
                </td>
                <td class="hidden-mobile">
                    @Html.DisplayFor(modelItem => match.endLocation)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-eventID="@Model.eventRoutingID" asp-route-teamID="@Model.teamRoutingID" asp-route-matchID="@match.ID">E</a> |
                    <a asp-page="./Delete" asp-route-eventID="@Model.eventRoutingID" asp-route-teamID="@Model.teamRoutingID" asp-route-matchID="@match.ID">R</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<strong>E-Edit R-Remove</strong>
<br />
<strong>Gray-General information Red-Statistics Green-Minerals Blue-Autonomy</strong>
<a asp-page="Create" asp-route-eventID="@Model.eventRoutingID" asp-route-teamID="@Model.teamRoutingID" class="btn large" style="background-color: dimgray; color: white; border-radius:0px; position:absolute; bottom:20px; right:20px; padding: 10px; font-size: 25px;">Add match</a>